<html>
  <head>

   <% include ../partials/head %>
  </head>
    <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/login">Login</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/search">Search</a></li>
          <li><a href="/extract">Extract</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>

  </body>
</html>